/* FASTGAP https://github.com/GustavoCostaW/FastGap */

/* CUSTOMIZE YOUR APP */

#menu ul li {
	color: #214125;
	font-weight: bold;
}
#content {
	background: white;
	color: #214125;
}
#content a {
	font-weight: bold;
	color: #A02615;
}
.title-page {
	font-size: 30px;
	color: #214125;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.page-item {
	position: relative;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	text-align: center;
}
.page-item img {
	width: 80px;
	height: 80px;
	border-radius: 60px;
}
.nome-item {
	font-size: 25px;
}
#internal-page {
	width: 100%;
}
#internal-page h1 {
	font: 5px"Source Sans", helvetica, arial, sans-serif;
	width: 100%;
	font-size: 25px;
	text-align: center;
}
.page-item p {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}
#json {
	text-align: center;
}
button,
input {
	width: 70%;
	height: 30px;
	text-indent: 10px;
	margin: 5px auto;
}
#btn {
	width: 70%;
	margin: auto;
}
#btn button {
	width: 100%;
}
#fotos img {
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	border: 1px solid #ccc;
}
.swiper-container,
.swiper-slide {
	margin: auto;
	width: 250px;
}
.swiper-slide img {
	width: 250px;
	height: 250px;
}
#contacts-input {
	text-align: center;
	width: 100%;
}
#contacts-input input,
#contacts-input button {
	margin: 0 auto;
}
html,
body,
#map {
	height: 100%;
}